.button{
    margin: 40px auto;
    font-size: 2em;
    border: none;
    border-bottom: 1px solid red;
    width: 300px;
    color: darkred;
    transition: ease-in-out 100ms;
}

.button:hover{
    border-bottom: darkred solid 3px;
}

.button:disabled{
    background-color: #eee;
    color: gray;
    cursor: not-allowed;
}

