.inputText{
    width: 375px;
    font-size: 1.5em;
    margin: 50px 0;
    border: none;
    border-bottom: 1px solid darkred;
    padding: 10px;
}

.inputText:focus{
    outline: none;
}

.inputText:hover{
    border-bottom: 3px solid darkred;
}